* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  background-image: url("/rover.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(0.5);
  color: white;
}

h1,
h2 {
  margin: 0;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.1rem;
}

label {
  display: block;
}
input,
select {
  padding: 4px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.success {
  background: rgb(33, 255, 155);
}

.error {
  background: rgb(223, 99, 99);
}
